MINIO_ROOT_USER=mackenzie
MINIO_ROOT_PASSWORD=mackenzie123
MINIO_ENDPOINT=localhost:9000
MINIO_SECURE=false
MINIO_BUCKET_RAW=raw
MINIO_BUCKET_PROCESSED=processed
MINIO_BUCKET_CURATED=curated
UPLOAD_TO_MINIO=false
